{% extends 'base.html.twig' %}

    {% block title %}Nouveau Trajet{% endblock %}

    {% block body %}
        <h1>Créer un nouveau trajet</h1>

        {{ include('path/_form.html.twig') }}

        <a href="{{ path('home') }}">retour</a>
    {% endblock %}
